include README.md
include LICENSE
include CONTRIBUTING.md
recursive-include src/ga_decoys/config *.json
recursive-include src/ga_decoys/data *.npy
recursive-include src/ga_decoys/input_smiles *.smi
recursive-include src/ga_decoys/molecule *.json
recursive-include src/ga_decoys/filtering *.csv *.pkl.gz
